- if can_edit_phrases?
  %span{ image_widget.wrapper_options }
    = image_tag(image_widget.image_url, image_widget.options)
    = form_for(image_widget) do |f|
      = f.label(:image, 'Click to edit image', class: 'edit-image')
      = f.file_field(:image)
      = f.label(:discard_change, class: 'discard-change')
      = f.button('Save image')
- else
  = image_tag(image_widget.image_url, image_widget.options)
